<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sist.com.vo.UserinfoVo">
	<insert id="insertUserInfo"
		parameterType="sist.com.vo.UserinfoVo">
		INSERT INTO USERINFO
		(UINO, UINAME, UIID, UIPASSWORD,
		UIGENDER, UIBIRTH, UIEMAIL, UIADDRESS,
		UITEL, UICP,
		UIAMOUNT, UIPOINT,
		UIREGDATE, MCODE)
		VALUES
		(USERINFO_SEQ.NEXTVAL, #{name},
		#{id},
		#{password}, #{gender}, #{birth, jdbcType=DATE},
		#{email},
		#{address}, #{tel}, #{cp}, 0, 0, SYSDATE, 1)
	</insert>
	
	<select id="idChk" resultType="int" parameterType="String">
		SELECT
		count(UIID) FROM USERINFO WHERE UIID = #{id}
	</select>
	
	<select id="selectAddressUser" parameterType="java.lang.String"
		resultType="sist.com.vo.ZipcodeBean">
		SELECT ZIPCODE,SIDO,GUGUN,DONG,NVL(BUNJI,'')BUNJI
		FROM
		ZIPCODE
		WHERE DONG LIKE '%'||#{VALUE}||'%'
	</select>
	
	<select id="userIdCheck" parameterType="java.lang.String"
		resultType="java.lang.String">
		SELECT UIPASSWORD AS PASSWORD FROM USERINFO
		WHERE UIID=#{VALUE}
	</select>
	
	<select id="selectUserInfo" resultType="usermember"
		parameterType="java.lang.String">
		SELECT UINO AS NO, UINAME AS NAME, UIID AS ID, UIPASSWORD AS PASSWORD, UIGENDER AS GENDER, UIBIRTH AS BIRTH, UIEMAIL AS EMAIL, UIADDRESS AS ADDRESS, UITEL AS TEL, UICP AS CP, UIAMOUNT AS AMOUNT, UIPOINT AS POINT, UIREGDATE AS REGDATE, MCODE
 		FROM USERINFO WHERE UIID=#{value}
		
	</select>
	
	<select id="selectUser" parameterType="java.lang.String"
		resultType="usermember">
		SELECT UINO AS NO, UINAME AS NAME, UIID AS ID, UIPASSWORD AS PASSWORD, UIGENDER AS GENDER, UIBIRTH AS BIRTH, UIEMAIL AS EMAIL, UIADDRESS AS ADDRESS, UITEL AS TEL, UICP AS CP, UIAMOUNT AS AMOUNT, UIPOINT AS POINT, UIREGDATE AS REGDATE, MCODE 
		FROM USERINFO
	</select>



</mapper>